# 2.0 Feature Engineering
### work in progress...
This notebook demonstrates the creation of features over stock price data. Correlation analysis will be performed to identify relationships between different features. The goal is to create a set of features that can be used for machine learning models to predict stock prices. PCA will be tesed to reduce the dimensionality of the feature set.

In [ ]:
import sys
import os
import pandas as pd
sys.path.append(os.path.abspath('..'))

from src.dataset import load_latest_data
from src.features import create_feature_sets

## 1. Load stock data

In [ ]:
data = load_latest_data("GOOGL")

In [ ]:
data.tail()

                  open        high         low       close    volume
Date
2025-08-12  201.369995  204.500000  200.589996  203.339996  30397900
2025-08-13  204.130005  204.529999  197.509995  201.960007  28342900
2025-08-14  201.500000  204.440002  201.229996  202.940002  25230400
2025-08-15  203.850006  206.440002  201.279999  203.899994  34911300
2025-08-18  204.160004  205.250000  202.490005  203.500000  18476169